/***************************/
/* COLORS */
/***************************/

$color-blue-dark: #252d37;
$color-blue-very-dark: #121417;
$color-grey-light: #959eac;
$color-grey-medium: #7c8798;
$color-orange: #fb7413;
$color-white: #ffffff;
