@import './partials/variables', './partials/functions';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-blue-very-dark;
  color: $color-white;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  height: 100vh;
  width: 100vw;
}

.website {
  align-items: center;
  display: flex;
  justify-content: center;
}

/***************************/
/* GENERAL REUSABLE COMPONENTS */
/***************************/

.active {
  background-color: $color-white !important;
  color: $color-orange !important;
}

.checked {
  background-color: $color-orange !important;
  color: $color-white !important;
}

.hidden {
  display: none !important;
}
