@import './partials/variables', './partials/functions';

.main {
  background-image: linear-gradient(to bottom, #232a34, #181e27);
  border-radius: 30px;
  height: 41.6rem;
  margin-top: 19.5rem;
  padding: 3.2rem;
  width: 41.2rem;
}

///////////////////////////////
// Section - Rating
///////////////////////////////

.icon-star {
  align-items: center;
  background-color: $color-blue-dark;
  border-radius: 50%;
  display: flex;
  height: 4.8rem;
  justify-content: center;
  margin-bottom: 3rem;
  width: 4.8rem;
}

.icon-star img {
  height: 1.6rem;
  width: 1.675rem;
}

.heading {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: lineHeight(35.4, 28);
  margin-bottom: 1.5rem;
}

.description {
  color: $color-grey-light;
  line-height: lineHeight(24, 15);
  margin-bottom: 2.4rem;
}

.rating-numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.rating-number {
  align-items: center;
  background-color: $color-blue-dark;
  border-radius: 50%;
  color: $color-grey-medium;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  height: 5.1rem;
  justify-content: center;
  letter-spacing: em(0.2, 16);
  line-height: lineHeight(24, 16);
  transition: all 0.1s;
  width: 5.1rem;
}

.rating-number:hover {
  background-color: $color-grey-medium;
  color: $color-white;
}

.button {
  background-color: $color-orange;
  border-radius: 22.5px;
  border: none;
  color: $color-white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: em(2, 15);
  line-height: lineHeight(19, 15);
  padding: 1.2rem 13.8rem 1.2rem 13.8rem;
  text-transform: uppercase;
  transition: all 0.1s;
}

.button:hover {
  background-color: $color-white;
  color: $color-orange;
}

/////////////////////////////
// Section - Thanks
/////////////////////////////

.section-thanks {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.img-thanks {
  margin-top: 3rem;
}

.selection-result {
  background-color: $color-blue-dark;
  border-radius: 22.5px;
  color: $color-orange;
  line-height: lineHeight(24, 15);
  margin-bottom: 2.4rem;
  margin-top: 1.5rem;
  padding: 0.4rem 1.9rem;
  text-align: center;
}

.description-thanks {
  color: $color-grey-light;
  line-height: lineHeight(24, 15);
  margin-bottom: 2.4rem;
  text-align: center;
}

///////////////////////////////
// @media (max-width: 475px)
///////////////////////////////

@media (max-width: 475px) {
  .main {
    border-radius: 15px;
    height: 36rem;
    margin-top: 15.4rem;
    padding: 2.4rem;
    width: 32.7rem;
  }
  .icon-star {
    height: 4rem;
    margin-bottom: 1.6rem;
    width: 4rem;
  }

  .icon-star img {
    height: 1.333rem;
    width: 1.496rem;
  }

  .heading {
    font-size: 2.4rem;
    line-height: lineHeight(30, 24);
    margin-bottom: 1.7rem;
  }

  .description {
    font-size: 1.4rem;
    line-height: lineHeight(22, 14);
    margin-bottom: 2.4rem;
  }

  .rating-numbers {
    margin-bottom: 2.4rem;
  }

  .rating-number {
    font-size: 1.4rem;
    height: 4.2rem;
    letter-spacing: em(0.17, 14);
    width: 4.2rem;
  }

  .button {
    font-size: 1.4rem;
    letter-spacing: em(1.87, 14);
    line-height: lineHeight(18, 14);
    padding: 1.2rem 10.9rem 1.2rem 10.9rem;
  }

  .img-thanks {
    margin-top: 1rem;
  }

  .selection-result {
    font-size: 1.4rem;
    line-height: lineHeight(22, 14);
    margin-top: 2rem;
  }

  .description-thanks {
    font-size: 1.4rem;
    line-height: lineHeight(22, 14);
  }
}
